div#Banner {
    top: 0;
    left: 0;
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: aqua;
    color: blue;
}

div#body {
    margin-top:75px;
    text-align: center;
    background-color: lightblue;
    height: 880px;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
}


div#footer {
    width: 100%;
    height: 75px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: fixed;
    color: white;
    text-align: center;
}