div#banner {
    width: 100%;
    height: 75px;
    background-color: rgb(73, 85, 255);
    top: 0;
    left: 0;
    position: absolute;
    font-family: cursive;
    font-size: 3px;
}

div#Footer {
    width: 100%;
    height: 75px;
    background-color: black;
    bottom: 0;
    left: 0;
    position: fixed;
    font-family: cursive;
    font-size: 20px;
    color: white;
    text-align: center;
}

div#Body {
    text-align: center;
    background-color: lightgrey;
    height: 1300px;
    margin: 50px;
    font-family: fantasy;
    font-size: 25px;
    color: rgb(38, 57, 221);
    padding-top: 5px;
    padding-left: 15px;
}

div#home-page {
    text-align: left;
    background-color: lightgrey;
    height: 1300px;
    margin: 50px;
    font-family: fantasy;
    font-size: 25px;
    color: rgb(226, 62, 111);
    padding-top: 5px;
    padding-left: 15px;
}

div#home {
    text-align: left;
    background-color: lightgrey;
    height: 1300px;
    margin: 50px;
    font-family: fantasy;
    font-size: 20px;
    color: rgb(49, 105, 189);
    padding-top: 5px;
    padding-left: 15px;
}

img#homeIcon {
    top: 0;
    left: 0;
    height: 80px;
    width: 130px;
    padding-top: 80px;
    padding-left: 10px;
}

img#right-arrow {
    top: 0;
    left: 0;
    height: 140px;
    width: 130px;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 35px;
    padding-right: 25px;
    float: right;
}

img#left-arrow {
    top: 0;
    left: 0;
    height: 100px;
    width: 120px;
    padding-top: 70px;
    padding-left: 10px;
    padding-bottom: 35px;
    padding-right: 30px;
    float: right;
}