.divTagLayOut {
    height: 500px;
    text-align: center;
    display: inline-block;
    height: 500px;
    width: 400px;
    border: 5px dashed blue;
    color: green;
    background-color: aqua;
    top: 
}

.divcenter {
    max-width: 550px;
    margin: auto;
}