div#Banner {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(35, 184, 122);
}

div#Footer {
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: black;
    color: white;
}

div#Body {
    height: 880px;
    background-color: rgb(173, 243, 255);
    margin: 50px;


}